body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: black;
    padding: 10px 20px;
    opacity: 0.9;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 100px;
    height: 70px;
    z-index: -1;
}

.navbar-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    z-index: -1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar-search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0;
    border-right: 1px;
    margin-right: 0px;
    height: 42.8px;
}

.navbar-search input {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    /*z-index: -1;*/
    width: 140%;
    border: none;
}

.navbar-search button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    width: 120px; /* button size fix */
}

.navbar-search button:hover {
    background-color: #45a049;
}

.navbar-login {
    border-left: none;
    margin-left: 20px;
    padding-left: 17px;
    padding-right: 0px;
    border-right: none;
    margin-right: 0px;
}

.navbar-login button {
    padding: 11px 10px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.navbar-login button:hover {
    background-color: #007bb5;
}

/* Responsive design */
@media (max-width: 1200px) {
    .navbar-links {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .navbar-search {
        flex-direction: column;
        align-items: center;
    }
    .navbar-search input {
        width: 115%;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-search input{
        width: 70%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-links {
        flex-direction: column;
    }
    .navbar-search {
        flex-direction: column;
        align-items: center;
    }
    .navbar-login {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .navbar-logo img {
        width: 70px;
        height: 50px;
    }
    .navbar-links a {
        font-size: 16px;
    }
}

/* login popup ka css*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

body{
background-color: #c9d6ff;    
align-items: center;
justify-content: center;    
height: 100%;
}*/                                           /* Error detect*/

.btn-login{
padding:  10px 15px;
cursor: pointer;
background-color: black;
color: white;
margin-top: -109px;
position: absolute;
}
.overlay{
width: 100%;
position: fixed;
top: 0%;
background: rgba(0, 0, 0, 0.5);
height: 100vh;
z-index: -1;
opacity: 0;
transition: 1s;
}
.loginform{
width:768px;
padding:30px 20px;
transform:translate(-50%, -50%);
left: 50%;
top: -50%;
position: absolute;
transition: 2s;
z-index:9;
}
.showoverlay{
opacity: 1;
z-index: 1;
}
.showloginform{
top: 50%;
}

.container-a{
background-color: #fff;
border-radius: 30px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
position: relative;
overflow: hidden;
width: 768px;
max-width: 100%;
min-height: 480px;
}

.container-a p{
font-size: 14px;
line-height: 20px;
letter-spacing: 0.3px;
margin: 20px 0;
}

.container span{
font-size: 12px;
}

.container-a a{
color: #333;
font-size: 13px;
text-decoration: none;
margin: 15px 0 10px;
}

.container-a button{
background-color:#0078ff;
color: #fff;
font-size: 12px;
padding: 10px 45px;
border: 1px solid transparent;
border-radius: 8px;
font-weight: 600;
letter-spacing: 0.5px;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;
}

.container-a button.hidden{
background-color: transparent;
border-color: #fff;
}

.container-a form{
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
height: 100%;
}

.container-a input{
background-color: #eee;
border: none;
margin: 8px 0;
padding: 10px 15px;
font-size: 13px;
border-radius: 8px;
width: 100%;
outline: none;
}

.form-container{
position: absolute;
top: 0;
height: 100%;
transition: all 0.6s ease-in-out;
}

.sign-in{
left: 0;
width: 50%;
z-index: 2;
}

.container-a.active .sign-in{
transform: translateX(100%);
}

.sign-up{
left: 0;
width: 50%;
opacity: 0;
z-index: 1;
}

.container-a.active .sign-up{
transform: translateX(100%);
opacity: 1;
z-index: 5;
animation: move 0.6s;
}

@keyframes move{
0%, 49.99%{
opacity: 0;
z-index: 1;
}
50%, 100%{
opacity: 1;
z-index: 5;
}
}

.social-icons{
margin: 20px 0;
}

.social-icons a{
border: 1px solid #ccc;
border-radius: 20%;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 3px;
width: 40px;
height: 40px;
}

.toggle-container{
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: all 0.6s ease-in-out;
border-radius: 150px 0 0 100px;
z-index: 1000;
}

.container-a.active .toggle-container{
transform: translateX(-100%);
border-radius: 0 150px 100px 0;
}

.toggle{
/* background-color: #512da8;  toggle left side background purple color*/
height: 100%;
/*background: linear-gradient(to right, #5c6bc0, #512da8);    toggle right side background purple color*/
color: #fff;
position: relative;
left: -100%;
height: 100%;
width: 200%;
transform: translateX(0);
transition: all 0.6s ease-in-out;
}

.container-a.active .toggle{
transform: translateX(50%);
}

.toggle-panel{
position: absolute;
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 30px;
text-align: center;
top: 0;
transform: translateX(0);
transition: all 0.6s ease-in-out;
background-size: cover;
background-position: center;
}
.toggle-panel video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

.toggle-left{
transform: translateX(-200%);
}

.container-a.active .toggle-left{
transform: translateX(0);
}

.toggle-right{
right: 0;
transform: translateX(0);
}

.container-a.active .toggle-right{
transform: translateX(200%);
}



/*google fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins', sans-serif;
 }
 .container{
     min-height: 100vh;
     background: #08071d;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url(contact-bg.jpeg)no-repeat center center/cover;
 }
 .container form{
     width: 670px;
     height: 400px;
     display: flex;
     justify-content: center;
     box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
     border-radius: 15px;
     background: rgba(255,255,255,0.1);
     backdrop-filter: blur(10px);
     flex-wrap: wrap;
 }
 .container form h1{
     color: #fff;
     font-weight: 500;
     margin-top: 20px;
     width: 500px;
     text-align: center;
 }
 .container form input{
     width: 290px;
     height: 40px;
     padding-left: 10px;
     outline: none;
     border: none;
     font-size: 15px;
     margin-bottom: 10px;
     background: none;
     border-bottom: 2px solid #fff;
     margin-right: 12px;
 }
 .container form input::placeholder{
     color: #ddd;
 }
 .container form #lastname, .container form #mobile{
     margin-left: 20px;
 }

 .container form h4{
     color: #fff;
     font-weight: 300;
     width: 600px;
     margin-top: 20px;
 }
 .container form textarea{
     background: none;
     border: none;
     border-bottom: 2px solid #fff;
     color: #fff;
     font-weight: 200;
     font-size: 15px;
     padding: 10px;
     outline: none;
     min-width: 600px;
     max-width: 600px;
     min-height: 80px;
     max-height: 80px;
 }

 textarea::-webkit-scrollbar{
     width: 1rem;
 }
 textarea::-webkit-scrollbar{
     background-color: rgba(194,194,194,0.713);
 }

 .container form #button{
     border: none;
     background: #fff;
     border-radius: 5px;
     margin-top: 20px;
     font-weight: 600;
     font-size: 20px;
     color: #333;
     width: 100px;
     padding: 0;
     margin-right: 500px;
     margin-bottom: 30px;
     transition: 0.3s;
 }

 .container form #button:hover{
     opacity: 0.7;
 }